body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li { display: inline-block; }

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.article-list-item {
  background-color: lightgrey;
  margin: 5px;
}

.welcome-banner {
  background-color: lightgrey;
  padding: 1rem;
}

.about-banner {
  background-color: lightgrey;
  padding: 1rem;
}

.articles-list-banner {
  background-color: lightgrey;
  padding: 1rem;
}

.photos-list-banner {
  background-color: lightgrey;
  padding: 1rem;
}

.photo-list-item {
  background-color: lightgrey;
  margin: 5px;
  max-width: 400px;
}

.photo-list-item img {
  width: 100%;
  height: auto;
}
